#root{
    --main-color : #f35525 ;
    --white-color : #ffffff ;
    --black-color : #000000 ;
    --label-color : #3a3a3a ;
    --input-color : #f6f6f6 ;
    --form-bg-color : #1e1e1e ;
    --title-section-color : #ee626b ;
    --header-color : #7a7a7a ;
    --accordion-button-color : #fafafa ;
    --accordion-border-color : #f3f0f0 ;
    --text-p-color : #4a4a4a ;
    --table-bg-color : #eee ;
    --table-color : #aaa ;
    --facts-bg-color : #ffeee9 ;
    --category-bg-color : #fbd9cf ;
    
    /* Fonts Size*/
    --larg-x-size : 62px ;
    --larg-size : 40px ;
    --larg-sm-size : 28px ;
    --meduim-lx-size : 25px ;
    --meduim-lm-size : 20px ;
    --meduim-ls-size : 16px ;
    --meduim-size : 15px ;
    --meduim-sm-size : 14px ;
    --small-size : 12px ;
    }

.Specifications{
    width: 265px;
    height: 565px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
}
.Specifications .info-table img{
    width: 52px !important;
    height: 52px !important;
}

.Specifications ul.info-table {
    list-style: none;
    padding: 0;
}
.Specifications ul.info-table li{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    align-items: center;
    margin-bottom: 35px;
    padding-bottom: 35px;
    border-bottom: 1px solid #eee;
}
.Specifications ul.info-table li:last-child{
    border-bottom: none !important;
}
.Specifications ul.info-table li span{
    font-size: var(--meduim-size);
    color: var(--table-color);
    font-weight: 400;
}
@media (max-width:756px){
    .Specifications{
        width: 90%;
    }
}