#root{
    --main-color : #f35525 ;
    --white-color : #ffffff ;
    --black-color : #000000 ;
    --label-color : #3a3a3a ;
    --input-color : #f6f6f6 ;
    --form-bg-color : #1e1e1e ;
    --title-section-color : #ee626b ;
    --header-color : #7a7a7a ;
    --accordion-button-color : #fafafa ;
    --accordion-border-color : #f3f0f0 ;
    --text-p-color : #4a4a4a ;
    --table-bg-color : #eee ;
    --table-color : #aaa ;
    --facts-bg-color : #ffeee9 ;
    --category-bg-color : #fbd9cf ;
    
    /* Fonts Size*/
    --larg-x-size : 62px ;
    --larg-size : 40px ;
    --larg-sm-size : 28px ;
    --meduim-lx-size : 25px ;
    --meduim-lm-size : 20px ;
    --meduim-ls-size : 16px ;
    --meduim-size : 15px ;
    --meduim-sm-size : 14px ;
    --small-size : 12px ;
    }

.pages-hero{
    background-image: url('./../../assets/heading-bg.jpg');
    background-position: center;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 52px;
}
.pages-hero .page-title .page-url{
    background-color: var(--white-color);
    color: var(--form-bg-color);
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 25px;
    display: inline-block;
    margin-bottom: 30px;
}
.pages-hero .page-title .page-url h5{
    margin: 0;
    font-size: var(--meduim-sm-size)!important;
}
.pages-hero .page-title .page-name h3{
    font-size: 48px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--white-color);
}